@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Dongle&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Manufacturing+Consent&family=Monoton&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body 
{
    background-color: rgb(229, 230, 255);
}
.navigationsHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 0.1px solid grey;
    border-radius:5px ;
    padding: 10px;
    background-color: ghostwhite;
}

.navigationsHeader h1 
{
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
}

.apply
{
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;

    padding: 10px;
    border: none;
    border-radius:5px;
    background-color: rgb(0, 127, 239);
    color: ghostwhite;
    cursor: pointer;
    transition: 5ms;
}
.apply:active
{
    background-color: blue;
    color: black;
}
.jobforms
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  text-align: left;
  animation: fadeIn 0.3s ease-in-out;
}

.popup h2 {
  margin-bottom: 15px;
}

.popup p {
  margin: 6px 0;
}

.close-btn {
  margin-top: 15px;
  background: crimson;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
